body {
    margin: 0 auto;
    text-align: center;
}

.header {
    background-color: aqua;
}

.main {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.main-visual {
    background-image: url("../images/onepiece_luffy.png");
    background-size: cover;
    background-color: white;
    margin: 0 auto;
    width: 600px;
    height: 600px;
}

.footer {
    background-color: brown;
}
