body {
    margin: 0 auto;
    text-align: center;
}

.header {
    background-color: aqua;
}

.main {
    max-width: inherit;
    height: auto;
}

.main-visual {
    width: 500px;
    height: 500px;
    background-size: cover;
    background-image: url('https: //github.com/yuyakondo333/github_pages/blob/main/images/onepiece_luffy.png?raw=true');
    background-position: center;
    margin: 0 auto;
}

.footer {
    background-color: brown;
}
